<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CreateClub</title>
    <link rel="stylesheet" type="text/css" href="./styles/output.css" />
    <style>
      :root {
        --text-color: #060907;
        --bg-color: #f9fbf9;
        --primary-color: #44bb4e;
        --secondary-color: #94e699;
        --accent-color: #5de967;
      }
    </style>
  </head>
  <body class="size-screen">
    <div class="h-screen bg-gray-200 flex">
      <div class="w-72 bg-white flex-col">
        <div class="bg-red-500 flex ">
            <div class="  text-center w-full  text-2xl font-serif ">
                SoftFoorBall 
            </div>

        </div>
      </div>
      <div class=" flex w-full  justify-center items-center">
        <div class="bg-white w-[70%]  py-4 px-10 rounded-lg shadow-md  ">
          <h2 class="text-2xl font-semibold text-center mb-4">
            Create a New Club
          </h2>
          <form id="clubForm" class="space-y-4">
            <div>
              <label class="block text-sm font-medium" for="name"
                >Club Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
              />
            </div>
            <div>
              <label class="block text-sm font-medium" for="nickname"
                >Nickname</label
              >
              <input
                type="text"
                id="nickname"
                name="nickname"
                class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
              />
            </div>
            <div>
                <label class="block text-sm font-medium" for="staedname"
                  >Stade Name</label
                >
                <input
                  type="text"
                  id="staedname"
                  name="staedname"
                  class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  required
                />
              </div>
            <div>
              <label class="block text-sm font-medium" for="logo"
                >Creation Date</label
              >
              <input
                type="date"
                id="creation_date"
                name="creation_date"
                class="w-full px-3 py-2 border rounded-md"
                
              />
            </div>

            <div>
                <label class="block text-sm font-medium" for="logo"
                  >Club Logo</label
                >
                <input
                  type="file"
                  id="logo"
                  name="logo"
                  class="w-full px-3 py-2 border rounded-md"
                  accept="image/*"
                />
              </div>

            <div>
              <button
                type="submit"
                class="w-full bg-[#5de967] text-white py-2 rounded-md hover:bg-[#73ff7d] "
              >
                Create Club
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
