<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="./styles/output.css">

  <title>Document</title>
</head>

<body>
  <div class="border-solid border-4 border-light-blue-500">

    <h1>LOGIN</h1>
    <form id="form_signin">
      <div class="border-solid border-4 border-light-blue-500 ">
        <label for="email">email</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div>
        <label for="paswword">Password</label>
        <input class="border" type="password" id="password" name="password" required />
      </div>
      <div>
        <button>Log in</button>
      </div>
    </form>
    <script>
      const form = document.getElementById("form_signin");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        fetch("http://efoot/login", {
          method: 'POST',
          body: formData
        })
          .then(res => res.json())
          .then(data => {
            console.log(data);
          })
          .catch(err => {
            console.error(err);
          })
      })

    </script>
  </div>

</body>

</html>